<div class="site-footer__newsletter">
  {%- assign formId = 'ContactFooter' -%}
  {% form 'customer', id: formId, novalidate: 'novalidate' %}
    {% if form.posted_successfully? %}
      {% if newsletter == 'password' %}
          <p class="password-newsletter-success">{{message}}</p>
      {% else %}
          <script src="{{ 'jquery.min.js' | asset_url }}"></script>
          <script>
           $(document).ready(function(){
              var newsletterSuccessPopup = (function(){
                
                    var popup = $('.newsletter-success-modal');
                    var close = popup.find('.close');
                  var success = popup.find('.success');
                  var error = popup.find('.error');
                    var overlay = popup.find('.modal-overlay');
                    popup.show();
                  error.hide();
                  success.show();
                    $.cookie('emailSubcribeModal', 'closed', {
                        expires: 1,
                        path: '/'
                    });
                    close.off('click').on('click',function(){
                        popup.fadeOut();
                    });
                    overlay.off('click').on('click',function(){
                        popup.fadeOut();
                    });
                })();
                var newURL = location.href.split("?")[0];
                window.history.pushState('object', document.title, newURL);
            })
        </script>
      {% endif %}
    {% else %}
     <script src="{{ 'jquery.min.js' | asset_url }}"></script>
      <script>
      $(document).ready(function(){
          if (window.location.href.indexOf('newsletter&form_type=customer') > -1) {
            var newsletterSuccessPopup = (function(){
              var popup = $('.newsletter-success-modal');
              var close = popup.find('.close');
              var success = popup.find('.success');
              var error = popup.find('.error');
              var overlay = popup.find('.modal-overlay');
              popup.show();
              error.show();
              success.hide();
              $.cookie('emailSubcribeModal', 'closed', {
                expires: 1,
                path: '/'
              });
              close.off('click').on('click',function(){
                popup.fadeOut();
              });
              overlay.off('click').on('click',function(){
                popup.fadeOut();
              });
            })();
            var newURL = location.href.split("?")[0];
            window.history.pushState('object', document.title, newURL);
          }
        })
      </script>
    {% endif %}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
      <input type="email"
        name="contact[email]"
        id="{{ formId }}-email"
        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
        value="{{ form.email }}"
        {% if settings.body_layout == 'full_width' %}
          placeholder="{{ 'general.newsletter_form.email_placeholder_fw' | t }}"
          aria-label="{{ 'general.newsletter_form.email_placeholder_fw' | t }}"
        {% else %}
          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
        {% endif %}

        aria-required="true"
        required
        autocorrect="off"
        autocapitalize="off"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="{{ formId }}-email-error"
          data-form-status
        {% endif %}>
      <span class="input-group__btn">
        <button type="submit" class="btn btn-two newsletter__submit" name="commit" id="Subscribe">
          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
        </button>
      </span>
    </div>
    {% if form.errors contains 'email' %}
      <span id="{{ formId }}-email-error" class="input-error-message">
        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
        {% render 'icon-error' %}
        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
      </span>
      <script>
        var newURL = location.href.split("?")[0];
        window.history.pushState('object', document.title, newURL);
      </script>
    {% endif %}
  {% endform %}
</div>
