{% case section.settings.column %}
    {% when 2 %}
        {%- assign img_url = product.featured_image | img_url: '600x600' -%}
        {%- assign img_url_1 = product.images[0].src | img_url: '600x600' -%}
        {%- assign img_url_2 = product.images[1].src | img_url: '600x600' -%}
    {% when 3 %}
        {%- assign img_url = product.featured_image | img_url: '500x500' -%}
        {%- assign img_url_1 = product.images[0].src | img_url: '500x500' -%}
        {%- assign img_url_2 = product.images[1].src | img_url: '500x500' -%}
    {% when 4 %}
        {%- assign img_url = product.featured_image | img_url: '400x400' -%}
        {%- assign img_url_1 = product.images[0].src | img_url: '400x400' -%}
        {%- assign img_url_2 = product.images[1].src | img_url: '400x400' -%}
    {% when 5 %}
        {%- assign img_url = product.featured_image | img_url: '300x300' -%}
        {%- assign img_url_1 = product.images[0].src | img_url: '300x300' -%}
        {%- assign img_url_2 = product.images[1].src | img_url: '300x300' -%}
    {% when 6 %}
        {%- assign img_url = product.featured_image | img_url: '300x300' -%}
        {%- assign img_url_1 = product.images[0].src | img_url: '300x300' -%}
        {%- assign img_url_2 = product.images[1].src | img_url: '300x300' -%}
{% endcase %}
{%- assign show_image_swap = show_image_swap | default: settings.image_swap -%}
{%- assign show_product_compare = show_product_compare | default: settings.show_product_compare -%}
{%- assign show_product_compare_mb = show_product_compare_mb | default: settings.show_product_compare_mb -%}
{%- assign show_product_quickview = show_product_quickview | default: settings.show_product_quickview -%}
{%- assign show_product_vendor = show_product_vendor | default: settings.show_product_vendor -%}
{%- assign show_product_title = show_product_title | default: settings.show_product_title -%}
{%- assign show_product_reviews = show_product_reviews | default: settings.show_product_reviews -%}
{%- assign show_product_price = show_product_price | default: settings.show_product_price -%}
{%- assign show_product_button = show_product_button | default: settings.show_product_button -%}
{% assign show_product_variant = show_product_variant | default: settings.show_product_variant %}

<div class="product-card layout-1{% unless product.available %} product-card--sold-out{% endunless %}" data-product-card data-product-id="product-{{ product.id }}" data-id="{{ product.id }}">
    <div class="product-image">
        {% render 'product_badges' with product as product, serial: serial %}
        <a class="product-link {% if show_image_swap %}image-swap{% endif %}" href="{{ product.url | within: collection }}" aria-label="link">
            {% if product.images.size > 1 and show_image_swap %}
                <img class="product-card__img image-one lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url_1 }}"
                    data-sizes="auto" alt="{{ product.images[0].alt }}" data-image>
                <img class="product-card__img image-two lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url_2 }}"
                    data-sizes="auto" alt="{{ product.images[1].alt }}" data-image>
            {% else %}
                <img class="product-card__img lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url }}"
                    data-sizes="auto" alt="{{ product.featured_image.alt }}" data-image>
            {% endif %}
        </a>
        {% if show_product_quickview %}
            <a class="product-quickview" aria-label="quickview" href="javascript:void(0)" id="{{ product.handle }}" data-quickview >
                {{ 'products.product.quick_view' | t }}
            </a>
        {% endif %}
        <div class="group_button {% if show_product_compare %}compare_btn {% endif %}">
            {% if show_product_button %}
            {% render 'add-to-cart-btn' with product as product, id: 'list-product-form', variant: product.selected_or_first_available_variant %}
            {% endif %}
            {% if show_product_compare %}
                {% render 'compare-product',  id: product.id, link: product.handle %}
            {% endif %}
        </div>
        
    </div>
    <div class="product-content">
        <div class="product-detail">
            <div class="group_vdwl">
                 {% if settings.show_wishlist %}
                    <a class="product_wishlist wishlist {% if settings.show_wishlist_mb %}wishlist_mb{% endif %}" aria-label="wishlist" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}" data-id="{{ product.id }}">
                    <svg class="icon"><use xlink:href="#icon-heart" /></svg>
                    </a>
                {% endif %}
                {% if show_product_vendor %}
                    <div class="product-vendor">
                        {{ product.vendor | link_to_vendor }}
                    </div>
                {% endif %}
            </div>
            
            {% if show_product_title %}
                <h4 class="product-title">
                   <a href="{{ product.url | within: collection }}" aria-label="title" class="product-card__link">
                     {{product.title}}
                   </a>
                </h4>
            {% endif %}
             <div class="product-reviews review-list">
                {% if show_product_reviews %}
                    {% if settings.embed_code_review != blank %}
                        {{settings.embed_code_review}}
                    {% else %}
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="product-description">
                {{ product.description | strip_html | replace: '&nbsp;', ' ' | truncatewords: 24 }}
            </div>
            {% if show_product_price %}
                <div class="product-price {% if product.compare_at_price_min > product.price_min %}price--on-sale{% endif %}" data-price>
                {% if product.compare_at_price > product.price %}
                    <span class="price-item price-item--regular" data-regular-price>
                        {{ product.compare_at_price_min | money }}
                    </span>
                    <span class="price-item price-item--sale" data-sale-price>
                        {% if product.price_varies %}
                             <em class="form-pr">{{ 'products.product.from_text_html' | t }}</em>
                        {% endif %}
                        {{ product.price_min | money }}
                    </span>
                {% else %}
                    <span class="price-item price-item--regular" data-regular-price>
                        {% if product.price_varies %}
                            <em class="form-pr">{{ 'products.product.from_text_html' | t }}</em>
                        {% endif %}
                        {{ product.price_min | money }}
                    </span>
                    <span class="price-item price-item--sale" data-sale-price></span>
                {% endif %}
            </div>  
            {% endif %}
            <div class="product-reviews">
                {% if show_product_reviews %}
                    {% if settings.embed_code_review != blank %}
                        {{settings.embed_code_review}}
                    {% else %}
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    {% endif %}
                {% endif %}
            </div>
            {% if show_product_variant %}
                {% render 'item-swatch', product: product, show_product_variant: show_product_variant %}
            {% endif %}
        </div>
        <div class="product-actions">
            <div class="col-top">
                {% if show_product_button %}
                {% render 'add-to-cart-btn' with product as product, id: 'list-product-form', variant: product.selected_or_first_available_variant %}
                {% endif %}
                {% if settings.show_wishlist %}
                    <button class="wishlist btn btn--secondary {% if settings.show_wishlist_mb %}wishlist_mb{% endif %}" data-icon-wishlist data-product-handle="{{ product.handle }}" data-id="{{ product.id }}">
                        <span class="icon-ws"><svg class="icon"><use xlink:href="#icon-heart" /></svg></span>
                        <span class="add" >{{ 'wishlist.general.add_to_wishlist' | t }}</span>
                        <span class="remove" >{{ 'wishlist.general.remove_wishlist' | t }}</span>
                    </button>
                {% endif %}
            </div>
            <div class="col-bottom">
                {% if show_product_compare %}
                    {% render 'compare-product',  id: product.id, link: product.handle %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
