{%- assign img_url = product.featured_image | img_url: '72x72'  -%}
{%- assign img_url_1 = product.images[0].src | img_url: '72x72' -%}
{%- assign img_url_2 = product.images[1].src | img_url: '72x72' -%}
{%- assign show_image_swap = show_image_swap | default: settings.image_swap -%}
{%- assign show_product_vendor = show_product_vendor | default: settings.show_product_vendor -%}
{%- assign show_product_title = show_product_title | default: settings.show_product_title -%}
{%- assign show_product_reviews = show_product_reviews | default: settings.show_product_reviews -%}
{%- assign show_product_price = show_product_price | default: settings.show_product_price -%}
{%- assign show_product_button = show_product_button | default: settings.show_product_button -%}
{% assign show_product_variant = show_product_variant | default: settings.show_product_variant %}


<div class="product-card layout-1{% unless product.available %} product-card--sold-out{% endunless %}" data-product-card data-product-id="product-{{ product.id }}" data-id="{{ product.id }}">
    <div class="product-image">
        {% if settings.show_wishlist %}
            <a class="product_wishlist wishlist {% if settings.show_wishlist_mb %}wishlist_mb{% endif %}" aria-label="wishlist" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}" data-id="{{ product.id }}">
                <svg class="icon"><use xlink:href="#icon-heart" /></svg>
            </a>
        {% endif %}
        {% render 'product_badges' with product as product, serial: serial %}
        <a class="product-link {% if product.images.size > 1 and show_image_swap %}image-swap{% endif %}" href="{{ product.url | within: collection }}" aria-label="link">
            {% if product.images.size > 1 and show_image_swap %}
                <img class="product-card__img image-one lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url_1 }}"
                    data-sizes="auto" alt="{{ product.images[0].alt }}" data-image>
                <img class="product-card__img image-two lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url_2 }}"
                    data-sizes="auto" alt="{{ product.images[1].alt }}" data-image>
            {% else %}
                <img class="product-card__img lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url }}"
                    data-sizes="auto" alt="{{ product.featured_image.alt }}" data-image>
            {% endif %}
        </a>
    </div>
    <div class="product-content">
        {% if show_product_vendor %}
            <div class="product-vendor">
                {{ product.vendor | link_to_vendor }}
            </div>
        {% endif %}
        {% if show_product_title %}
            <h4 class="product-title">
                   <a href="{{ product.url | within: collection }}" aria-label="title" class="product-card__link">
                     <span>{{product.title | truncatewords: 6}}</span>
                   </a>
                </h4>
        {% endif %}
        
         {% if show_product_price %}
            {% render 'product-price', variant: product.selected_or_first_available_variant %}
        {% endif %}
        {% if show_product_reviews %}
            <div class="product-reviews">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
        {% endif %}
      
        {% if show_product_variant %}
              {% render 'item-swatch', product: product, show_product_variant: show_product_variant %}
          {% endif %}
       
        {% if show_product_button %}
           {% render 'add-to-cart-btn' with product as product, id: 'list-product-form', variant: product.selected_or_first_available_variant %}
        {% endif %}
    </div>
</div>
